name: Terraform CI
run-name: Build run by ${{ github.actor }} on ${{ github.ref_name }}

on:
  push:
    branches:
      - 'main'
      - 'feature/**'
      - 'bug/**'
    paths:
      - infra/aws/tf/**
    #   - infra/gcp/tf/**
    #   - infra/azure/tf/**
  pull_request:
    branches: [ main ]
    paths:
      - infra/aws/tf/**
    #   - infra/gcp/tf/**
    #   - infra/azure/tf/**

permissions:
  contents: write
  id-token: write

jobs:
  start-job:
    name: Start CI Workflow
    runs-on: ubuntu-latest
    steps:
      - name: Set CI Job Status
        id: set-ci-job-status
        run: |
          echo "ci-job-status=started" >> $GITHUB_OUTPUT

  terraform-ci-aws:
    name: CI - AWS
    needs: start-job
    uses: subhamay-bhattacharyya-gha/tf-ci-reusable-wf/.github/workflows/ci.yaml@main
    with:
      cloud-provider: aws
      aws-region: ${{ vars.AWS_REGION }}
      tflint-ver: ${{ vars.TF_LINT_VER }}
      backend-type: remote
      terraform-dir: tf
      tf-vars-file: terraform.tfvars
    secrets:
      tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
      aws-role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}

#   terraform-ci-gcp:
#     name: CI - GCP
#     needs: start-job
#     uses: subhamay-bhattacharyya-gha/tf-ci-reusable-wf/.github/workflows/ci.yaml@main
#     with:
#       cloud-provider: gcp
#       tflint-ver: ${{ vars.TF_LINT_VER }}
#       backend-type: remote
#       terraform-dir: tf
#       tf-vars-file: terraform.tfvars
#     secrets:
#       tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
#       gcp-wif-provider: ${{ secrets.GCP_WIF_PROVIDER }}
#       gcp-service-account: ${{ secrets.GCP_SERVICE_ACCOUNT }}

#   terraform-ci-azure:
#     name: CI - Azure
#     needs: start-job
#     uses: subhamay-bhattacharyya-gha/tf-ci-reusable-wf/.github/workflows/ci.yaml@main
#     with:
#       cloud-provider: azure
#       tflint-ver: ${{ vars.TF_LINT_VER }}
#       backend-type: remote
#       terraform-dir: tf
#       tf-vars-file: terraform.tfvars
#     secrets:
#       tfc-token: ${{ secrets.TF_TOKEN_APP_TERRAFORM_IO }}
#       azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
#       azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
#       azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

  create-release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: 
      - terraform-ci-aws
    #   - terraform-ci-gcp
    #   - terraform-ci-azure  
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    
    steps:
      - name: Create Release
        uses: subhamay-bhattacharyya-gha/create-release-action@main
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}